/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav-bar {
  background-color: #00D486;
  color: white;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 60px;
}

.beep-title {
  width: 30%;
  float: left;
  color: white;
  font-size: 36pt;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
}

.nav-links {
  width: 70%;
  font-size: 20px;
  float: right;
  color: white;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-login {
  float: right;
  margin: 0;
  width: 75%;
  list-style-type: none;
  padding-top: 18px;
  text-align: right;
}

#drop-menu-icon {
  float: right;
  width: 50px;
  margin: 0;
  text-align: right;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 30px;
  height: 100%;
  padding-bottom: 20px;
}

.dropdown{
  position: relative;
}
.dropdown-contents {
    display: none;
    position: absolute;
    background-color: #00D486;
    min-width: 160px;
    right: 0;
    top: 60px;
    z-index: 400;
}

.dropdown-contents a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-contents:hover .dropdown-contents{
  display:block;
}
.dropdown-contents a:hover {
    background: white;
    color: #00D486;

}

.dropdown:hover .dropdown-contents {
    display: block;

}


.nav-login a {
  color: white;
}

a {
  text-decoration: none;
  color: #00D486;
}

body {
  /*background-image: url(http://www.vaterrarc.com/Content/Images/Products/landing/bg_road2.jpg);
  background-repeat: no-repeat;*/
  color: #00D486;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

footer {
    background: #00D486;
    margin-top: 36px;
    height: 11px;
    color: white;
    font-family: monospace;
    padding: 23px;
}
