// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 80%;
  margin: auto;
  height: 400px;
  background-color: grey;
  border: 1px solid white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  margin-bottom: 100px;
}

.map-div {
  display: none;
}

.vehicle-link {
  list-style-type: none;
  display: inline;
}

.vehicle-link a{
  color: #ffffff;

}

.button{
  padding: 15px;
}

article.vehicle-container {
    border: 1px solid;
    margin: 20px auto;
    color: #656161;
    background-color: rgb(75, 230, 173);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    opacity: 0.6;
    width: 80%;
}
.vehicle-index {
  overflow: scroll;
  height: 500px;
  width: 100%;
  background-color: #37393a;
}
.vehicle-index h1 {
  color: #43a17f;
}

.map-title {
  color: #43a17f;
}

.map-btn {
  padding-bottom: 50px;
}
.search-bar {
  opacity: 0.7;
  padding-top: 10px;
}
.search-bar input#search {
  width: 215px;
  height: 15px;
  text-align: right;
}
