<!DOCTYPE html>
<html>
  <%= render partial: '/layouts/head' %>

	<body>


<h1 class="homepage-heading">BEEP</h1>
		<% if flash[:notice]%>
			<p><%=flash[:notice]%></p>
		<% end %>
		<%= yield %>

</html>
