<!-- <%= link_to "Back to Reservation", new_vehicle_reservation_url%>
 -->
<div class="reserve">
  <div class="reserve-container">
    <h1>When do you need vehicle?</h1>

      <div class="">
        <%= render 'form' %>
      </div>
  </div>

</div>
