<!-- <%= link_to "Back to Reservation", new_vehicle_reservation_url%>
 -->
<% if current_user %>
<div class="reserve">
  <div class="reserve-container">
    <h1>When do you need a ride?</h1>

      <div class="">
        <%= render 'form' %>
      </div>
  </div>

</div>

<% else %>

<div class="reserve">


  <div class="reserve-con">

    <h1>When do you need a ride?</h1>

    <p> Please login to make a reservation</p>

  </div>


</div>

<% end %>
