<section>
  <h2>Reservations</h2>
  <% current_user.trips.each do |trip| %>
    <h3>Date: <%= trip.date.to_date %></h3><h3>Time: <%= trip.start_time %></h3>
    <h3>From: <%= trip.start_location %></h3>
    <h3>To: <%= trip.destination %></h3>
  <% end %>
</section>
