$beep_colour: #5a0be0;
$beep_accent: #3f01a9;
$beep_homepage-dropdown: #cccccc;
$beep_font_family: 'Comfortaa', cursive;
$mobile_bg_color_1: darkgoldenrod;
$mobile_font_2: white;
$mobile_bg_color_2: beige;
