@import "variables", "user", "vehicles", "reservations", "availabilities";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Comfortaa', cursive;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

////

// html {
//  box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
//  box-sizing: inherit;
// }

/*/// STYLING BELOW ///*/
// p {
//   padding: 10px;
// }

html {
  position: relative;
}

.nav-bar {
  // color: purple;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 60px;
	border-bottom: 2px solid black;
	padding-top: 14px;
  padding-bottom: 65px;
}

.beep-title a {
  width: 30%;
  float: left;
  color: black;
  font-size: 36pt;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
	text-decoration: none;
}

.nav-links {
  width: 70%;
  font-size: 20px;
  float: right;
  color: purple;
  position: relative;
  right: 2%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-login {
  margin: 0;
  width: 100%;
  list-style-type: none;
  padding: 18px;
  text-align: center;;
}

.nav-login a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.login-line {
    font-size: 27px;
}

#drop-menu-icon {
  float: right;
  width: 50px;
  margin-left: 20px;
  text-align: center;
  // padding-right: 20px;
  // padding-top: 15px;
  font-size: 30px;
  // height: 100%;
	border: 1px solid;
	border-radius: 9px;
  // padding-bottom: 20px;
  color: black;
	padding: 9px 1px;
	margin-right: 10px;
}




.dropdown{
  position: relative;
  height: 67px;
}
.dropdown-contents {
    display: none;
    position: absolute;
    background-color: black;
		opacity: 0.9;
    min-width: 130px;
    right: 0;
    top: 65px;
    z-index: 400;
}

.dropdown-contents a {
    color: $mobile_font_2;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-contents:hover .dropdown-contents{
  display:block;
}
.dropdown-contents a:hover {
    background: darkgoldenrod;
    color: $mobile_font_2;

}

.dropdown:hover .dropdown-contents {
    display: block;

}

/*this is css for landing page*/
/*.main-nav-bar {
  background-color: none;
}*/

#logo-icon a{
  color: white;
}

.footer {
  height: 30px;
  padding: 7px;
  position: absolute;;
  bottom: -46px;
  overflow: hidden;
  border-top: 2px solid;
}
.homepage-footer {
  height: 30px;
  padding: 7px;
  position: absolute;;
  // bottom: -150px;
}
footer {
  background: white;
  height: 11px;
  text-align: center;
  color: black;
  font-family: monospace;
  padding: 5px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer a {
    text-decoration: none;
    color: black;
}
