// Place all the styles related to the Availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// main {
//     margin-bottom: 70px;
// }

.availabilities-container {
    // padding: 10px;
    line-height: 1.5;
    text-align: center;
}
.availabilities-container h3 {
    font-size: 24px;
    padding: 15px;
    background-color: darkgoldenrod;
    color: white;
}
.availabilities-container p {
    font-size: 22px;
    padding: 0px 0px 15px 0px;
}
.availability-weekday {
    font-size: 20px;
}
.weekday-time {
  text-align: center;
  position: relative;
  padding: 10px;
  border-top: 2px solid goldenrod;
}

#availability-start, #availability-end {
    position: relative;
    left: 5%;
    padding: 10px 0px;
}
#availability-start {
    float: left;
    width: 50%;
}
#availability-end {
    float: right;
    width: 50%;
}
#availability-start .availability-p, #availability-end .availability-p {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    width: 80%;
    // background-color: red;
    border-top: 2px solid;
    text-align: center;
}
#availability-start p, #availability-end p {
  width: 80%;
  font-size: 27px;
  padding: 0px 0px 0px 0px;
}
.weekday-time a {
    border: 1px solid;
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}


// ======== EDIT AVAILABILITY PAGE BELOW ============

.edit_availability {
    padding: 20px 0px;
}

.availability-form-input {
    text-align: center;
    font-size: 22px;
}

.vehicle_availability_form {
    text-align: center;
}
.availability-weekday-title {
    background: goldenrod;
    padding: 8px 0px;
}
input#availability_start_time, input#availability_end_time {
    text-align: center;
    font-size: 25px;
    width: 100%;
    border: 0px;
    background: none;
    padding: 7px 0px;
}

input[type="submit"] {
    padding: 5px;
    border: 2px solid;
    background: none;
    font-size: 17px;
    border-radius: 3px;
}
.user-info-h2 {
    font-size: 22px;
    text-align: center;
}
.user-info, .reservation-vehicle-show {
    border-bottom: 2px solid;
}
.user-info {
    border-top: 2px solid;
}
