// Place all the styles related to the Availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// main {
//     margin-bottom: 70px;
// }

.availabilities-container {
    // padding: 10px;
    line-height: 1.5;
    text-align: center;
}
.availabilities-container h3 {
    font-size: 24px;
    padding: 15px;
    background-color: darkgoldenrod;
    color: white;
}
.availabilities-container p {
    font-size: 22px;
    padding: 0px 0px 15px 0px;
}
.availability-weekday {
    font-size: 20px;
}
.weekday-time {
  text-align: center;
  position: relative;
  padding: 10px;
  border-top: 2px solid goldenrod;
}

#availability-start, #availability-end {
    position: relative;
    left: 5%;
    padding: 10px 0px;
}
#availability-start {
    float: left;
    width: 48%;
}
#availability-end {
    float: right;
    width: 48%;
}
#availability-start .availability-p, #availability-end .availability-p {
    font-size: 16px;
    padding: 0px 0px 0px 0px;
    width: 80%;
    // background-color: red;
    border-top: 2px solid;
    text-align: center;
}
#availability-start p, #availability-end p {
  width: 80%;
  font-size: 27px;
  padding: 0px 0px 0px 0px;
}
.weekday-time a {
    border: 1px solid;
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}


// ======== EDIT AVAILABILITY PAGE BELOW ============

.vehicle_availability_form {
    padding: 20px 0px;
}

.availability-form-input {
    text-align: center;
    font-size: 22px;
}

.vehicle_availability_form {
    text-align: center;
}
.availability-weekday-title {
    background: goldenrod;
    padding: 8px 0px;
}
input#availability_start_time, input#availability_end_time {
    text-align: center;
    font-size: 25px;
    width: 100%;
    border: 0px;
    background: none;
    padding: 10px 0px;
}

input[type="submit"] {
    padding: 5px;
    border: 2px solid;
    background: none;
    font-size: 17px;
    border-radius: 3px;
}
.user-info-h2 {
    font-size: 22px;
    text-align: center;
}
.user-info, .reservation-vehicle-show {
    border-bottom: 2px solid;
}
.user-info {
    border-top: 2px solid;
}
.availability-button input {
 cursor: pointer;
}

// ========== vehicles show ============
.vehicle-image {
    display: none;
}
h1.owner-title {
    padding: 15px 20px;
    font-size: 22px;
}

article.vehicle-details {
    padding: 20px;
    font-size: 20px;
    line-height: 1.4;
    border-top: 1px solid goldenrod;
    /* text-align: center; */
}

.vehicle-descrip h2 {
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

.vehicle-descrip h3 {
    padding: 2px;
    font-size: 25px;
    text-align: center;
}
.vehicle-descrip span {
  line-height: 1;
}
#map {
    // display: none;
}
.map-div {
    display: none;
}
.map-btn {
  // display: inline-block;
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
  // padding: 10px;
  cursor: pointer;
  // border: 1px solid;
  // width: 170px;
  box-sizing: border-box;
  // color: black;
  // margin-top: 0;
  // margin-left: 10px;
  // opacity: 0.6;
  // background-color: #00D486;
  // border-radius: 3px;
    border: 2px solid goldenrod;
    width: 120px;
    text-align: center;
    border-radius: 3px;
    margin: auto;
    margin-top: 20px;

}
.vehicle-reservations h2 {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

section.vehicle-reservations {
    border-top: 1px solid goldenrod;
}
.vehicle-container-reservations span {
    font-size: 14px;
}

.vehicle-container-reservations li {
    margin: 10px;
    border-bottom: 2px solid black;
    font-size: 17px;
}
.vehicle-container-reservations {
  overflow: hidden;
    padding-bottom: 20px;

}
.vehicle-container-reservations a {
  float: left;
  width: 40%;
  margin-left: 2.5%;
  text-align: center;
}





@media (min-width: 480px) {

}
@media (min-width: 510px) {
  section.availabilities-container, .vehicle_availability_form {
      width: 500px;
      margin: auto;
      border: 2px solid;
      border-radius: 5px;
      background-color: white;
      opacity: 0.9;
  }
  .vehicle_availability_form {
      padding: 0px;
      position: relative;
      top: 100px;
  }

  .availabilities-index, .edit-availability-container {
    background-image: url('http://edge.alluremedia.com.au/m/g/2015/07/shutterstock_217393057_1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .edit-availability-container {
    height: 500px;
    position: relative;
  }
  .weekday-time a, .availability-button input {
    border-radius: 3px;
    color: white;
    background-color: black;
    border: 2px solid goldenrod;
  }
  .availability-button input {
    margin: 15px;
  }
}
@media (min-width: 740px) {
  section.availabilities-container {
    width: 650px;
  }
}
@media (min-width: 870px) {

}
@media (min-width: 1200px) {

}
