// // Place all the styles related to the Reservations controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// .reserve {
//   height: 500px;
//   width: 100%;
//   // background-color: lightgrey;
//   background-image: url("https://electrek.files.wordpress.com/2016/06/home_hero_models-e1465956017150.jpg?quality=82&strip=all&w=1600");
//   background-repeat: no-repeat;
//   background-position: center;
// }
//
// .reserve div {
//   margin-top: 1em;
// }
//
// .reserve-container {
//   border: solid 1px lightgrey;
//   opacity: 0.8;
//   color: white;
//   background: black;
//   height: auto;
//   width: 40%;
//   padding: 15px;
//   margin: auto;
//   margin-bottom: 70px;
//   position: relative;
//   top: 38px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
// }
//
// .reserve-form-input select,
// .reserve-form-input input {
//   font-size: 1em;
// }
//
// #reserve-show-page {
//   background-image: url("http://eskipaper.com/images/mountain-road-background-1.jpg");
// }
//
#res-map {
  width: 500px;
  height: 500px;
}

.login-reserv, .signup-reserv, .reserve-container {
    background: $mobile_bg_color_2;
    border: 0px;
    border-bottom: 1px solid $mobile_bg_color_1;
    padding: 10px;
    line-height: 1.5em;
    margin: 16px auto;
}

.reserve-container {
  text-align: center;
}

#login-signup-header, #reserv-header {
  font-size: 20pt;
  padding-bottom: 18px;
}

.login-button-reserv, .signup-button-reserv {
  padding: 11px;
  margin-top: 10px;
  opacity: 0.9;
  text-align: center;
}

.signup-btn-text, .login-btn-text, .reserve-btn-text{
  font-size: 15pt;
  color: $mobile_font_2;
}

#signin-alert-reserv {
  background: $mobile_bg_color_1;
  color: $mobile_font_2;
  font-size: 16pt;
  text-align: center;
    padding: 20px 0px;
}

select {
    border: 1px solid;
    padding: 2px;
    font-size: 13px;
    line-height: 2em;
}


.reserv-form-input{
  padding: 10px 0px;
}

input#reservation_start_location, input#reservation_destination, input#reservation_seats, select#date_hour, select#date_minute {
  font-size: 20px;
  border: 0px;
  border-radius: 1px;
  background: none;
  border-bottom: 3px solid;
  padding: 0px 5% 0px 0px;
}

input.reserve-btn-text,input.login-btn-text,input.signup-btn-text  {
    color: black;
}
