// // Place all the styles related to the Reservations controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// .reserve {
//   height: 500px;
//   width: 100%;
//   // background-color: lightgrey;
//   background-image: url("https://electrek.files.wordpress.com/2016/06/home_hero_models-e1465956017150.jpg?quality=82&strip=all&w=1600");
//   background-repeat: no-repeat;
//   background-position: center;
// }
//
// .reserve div {
//   margin-top: 1em;
// }
//
// .reserve-container {
//   border: solid 1px lightgrey;
//   opacity: 0.8;
//   color: white;
//   background: black;
//   height: auto;
//   width: 40%;
//   padding: 15px;
//   margin: auto;
//   margin-bottom: 70px;
//   position: relative;
//   top: 38px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
// }
//
// .reserve-form-input select,
// .reserve-form-input input {
//   font-size: 1em;
// }
//
// #reserve-show-page {
//   background-image: url("http://eskipaper.com/images/mountain-road-background-1.jpg");
// }
//
#res-map {
  width: 500px;
  height: 500px;
}

.login-reserv, .signup-reserv, .reserve-container {
    background: beige;
    border: 1px solid $mobile_bg_color_1;
    padding: 10px;
    line-height: 1.5em;
    margin: 16px 0px;
}

#login-signup-header {
  font-size: 20pt;
  padding-bottom: 18px;
}

.login-button-reserv, .signup-button-reserv {
    border: 1px solid $mobile_bg_color_1;
    border-radius: 5px;
    padding: 7px;
    margin-top: 10px;
    background: goldenrod;
    color: $mobile_font_2;
    opacity: 0.9;
    text-align: center;
}

.signup-btn-text, .login-btn-text{
  font-size: 15pt;
  color: $mobile_font_2;
}

#signin-alert-reserv {
  background: $mobile_bg_color_1;
  color: $mobile_font_2;
  font-size: 16pt;
  text-align: center;
}
