// // Place all the styles related to the Vehicles controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// li {
//   list-style: none;
// }


#map {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  height: 400px;
  background-color: grey;
  border: 1px solid $mobile_font_2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  margin-bottom: 100px;
}

input#search.form-control{

}

form.search-bar {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}
input.btn.btn-primary {
    display: none;
}

.map-title {
    font-size: 30pt;
    text-align: center;
    /* border: 3px solid; */
    background: $mobile_bg_color_2;
    margin: 10px 0px;
    padding: 7px 0px;
    color: black;
    margin-top: 28px;
}

.vehicle-search {
    background: darkgoldenrod;
}

.vehicle-container {
    text-align: center;
    // border-top: solid 1px darkgoldenrod;
    border-bottom: solid 1px darkgoldenrod;
    background-color: $mobile_font_2;
    padding: 0px 0px 10px 0px;
    margin: 10px auto;
    width: 100%;
    line-height: 1.5em;
}
h1#slogan2 {
    color: $mobile_font_2;
    font-size: 32pt;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-top: 20px;
}

#avail-header{
    font-size: 22pt;
    text-align: center;
    /* border: 3px solid; */
    background: darkgoldenrod;
    margin: 25px 0px;
    color: $mobile_font_2;
    padding: 10px 0px;
}

.vehicle_forms {
      border: 2px solid $mobile_bg_color_1;
        // border-bottom: 1px solid $mobile_bg_color_1;
      padding: 10px;
      line-height: 1.5em;
      margin: 16px auto;
      color: $mobile_bg_color_1;
      text-align: center;
}

.new-vehicle-button, .reserv-btn{
  padding: 11px;
  margin-top: 10px;
  opacity: 0.9;
  text-align: center;
}

.new-veh-btn-text input{
    border: 0px;
}

#new-veh-header {
  font-size: 20pt;
  padding-bottom: 18px;
  color: black;
}

.vehicle-link {
  display: inline-block;
  border: solid 1px darkgoldenrod;
  color: darkgoldenrod;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: $mobile_bg_color_2;
 }

 .vehicle-link a {
  text-decoration: none;
  color: black;
 }

 #no-search-results {
   text-align: center;
   padding-bottom: 50px;
 }

input#vehicle_vehicle_year, input#vehicle_vehicle_make, input#vehicle_vehicle_model, input#vehicle_seats, input#vehicle_street_address, input#vehicle_city, input#vehicle_province, input#vehicle_postal_code{
  font-size: 20px;
  border: 0px;
  border-radius: 1px;
  background: none;
  border-bottom: 2px solid;
  padding: 0px 5% 0px 5px;
}

@media (min-width: 740px){
  .search-header{
    height: 360px;
    background-image: url(search_image.jpg);
    width: 100%;
    background-size: cover;
  }
  // img{
  //   max-width: 100%;
  //   max-height: 100%;
  // }

  h1#slogan2 {
    // margin-top: 10px;
    color: rgba(246, 246, 237, 0.68);
    font-size: 32pt;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-top: 20px;
    background: rgba(19, 16, 16, 0.6);
    opacity: 0.8;
    /* margin: 0px; */
  }
  .vehicle-search {
      background: transparent;
  }

  .login-buttons-header {
    display: none;
  }

   input#search.search-bar {
    height: 45px;
    width: 70%;
    font-size: 20px;
    background: rgba(82, 30, 30, 0.56);
    border: 0px;
    position: relative;
    top: 66px;
    /* color: white; */
  }

  i#drop-menu-icon {
    color: #632731;
  }

  // .beep-title a{
  //   color: #632731;
  // }
  .map-title {
    background: #090909;
    color: #938e8e;
  }
  // .nav-login a {
  //   color: #632731;
  // }

  .search-background {
    background: black;
  }

  .nav-login a {
      text-decoration: none;
      font-size: 20px;
      color: #632731;
  }

  .header {
    background: black;
    // display: none;
  }

  .login-reserv,.signup-reserv, .reserve-container{
  background: black !important;
  border: 2px solid darkgoldenrod !important;
  padding: 10px;
  line-height: 1.5em;
  // margin: 16px 33px;
  border-radius: 20px;
  padding-left: 31px;
  color: white;
  padding-right: 24px;
  }

  .login-reserv-lg {
    height: 250px;
    width: 300px;
    float: left;
    margin: 16px 33px !important;
  }

  .signup-reserv {
    height: 600px;
    width: 300px;
    float: right;
    margin: 16px 33px !important;
  }

  .reserv-label {
    border: 1px solid #1f1d1d;
    margin: 10px;
    color: white;
    background: #1f1d1d;
 }


 .signup-btn-text, .login-btn-text {
   color: white !important;
 }

 .reserve {
     height: 700px;
     background-image: url(search_image.jpg);
     width: 100%;
     background-size: cover;
   }

   #signin-alert-reserv {
  opacity: 0.7;
  }
}
// .map-div {
//   display: none;
// }
//
// .vehicle-link {
//   list-style-type: none;
//   display: inline;
// }
//
// .vehicle-link a{
//   color: #2196F3;
//
// }
//
// .button{
//   padding: 15px;
// }
//
// .vehicle-container {
//     // border: 1px solid;
//     margin: 20px auto;
//     color: #000000;
//     background-color: #ececec;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     opacity: 0.8;
//     width: 700px;
//     height: 170px;
//     position: relative;
//     // background-image: url("http://gas2.org/wp-content/uploads/2015/01/mercedes-benz-f015-luxuryinmotion-ab-1.jpg");
//     // background-size: 100%;
//     // background-position: center;
//     // background-repeat: no-repeat;
// }
//
// .vehicle-container img {
//   width: 100%;
//   height: 300px;
//   position: absolute;
//   left: 0;
//   z-index: 0;
// }
// .vehicle-text {
//   position: relative;
//   z-index: 1;
// }
//
// ul.vehicle-container {
//   box-sizing: border-box;
//   padding: 12px;
//   width: 500px;
// }
// .vehicle-container p {
//   display: inline-block;
//   margin: 10px;
//   box-shadow: 0px 4px 10px 0px black;
//   padding: 10px;
//   cursor: pointer;
//   border: 1px solid;
//   width: 175px;
//   box-sizing: border-box;
//   opacity: 0.6;
//   background-color: #00D486;
//   border-radius: 3px;
// }
// .vehicle-container li {
//   padding: 2px;
// }
// .vehicle-container a {
//   color: black;
//   font-weight: bold;
// }
// .vehicle-search {
//   border-top: solid 2px grey;
// }
// .vehicle-index {
//   overflow: scroll;
//   height: 500px;
//   width: 100%;
//   // background-color: #37393a;
// }
// .vehicle-index h1 {
//   color: grey;
// }
//
// .map-title {
//   color: #2196F3;
// }
//
// .map-btn {
//   display: inline-block;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
//   padding: 10px;
//   cursor: pointer;
//   border: 1px solid;
//   width: 170px;
//   box-sizing: border-box;
//   color: black;
//   margin-top: 0;
//   margin-left: 10px;
//   opacity: 0.6;
//   background-color: #00D486;
//   border-radius: 3px;
// }
// .search-bar {
//   opacity: 0.7;
//   padding-top: 10px;
// }
// .search-bar input#search {
//   width: 240px;
//   height: 20px;
//   text-align: right;
//   font-size: 14px;
// }
// .res-btn a {
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
//   padding: 10px;
//   cursor: pointer;
//   border: 1px solid;
//   width: 125px;
//   box-sizing: border-box;
//   color: black;
//
//   opacity: 0.6;
//   background-color: #00D486;
//   border-radius: 3px;
// }
// .res-btn {
//   display: inline-block;
//
// }
// .vehicle-details {
//   position: relative;
//   color: black;
//   // border: 2px solid black;
//   background-color: #ececec;
//   opacity: 0.8;
//   margin: auto;
//   width: 700px;
//
//   // border: 1px solid;
//   margin: 20px auto;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//
// }
// .vehicle-descrip {
//   margin-top: 15px;
// // }
// .vehicle-details img {
//   width: 350px;
//   height: 250px;
//   float: left;
//   // border: 2px solid;
//   margin: 5px;
//   margin-top: 15px;
// }
//
// .owner-title {
//   color: black;
// }
//
// .vehicle-reservations {
//   margin-top: 50px;
//   margin-bottom: 70px;
//   border-top: 2px solid black;
// }
//
// .vehicle-reservations h2 {
//   color: #909090;
// }
//
// .vehicle_form {
//   border: 1px solid;
//   padding: 15px;
//   width: 400px;
//   margin: auto;
//   margin-bottom: 70px;
//   background-color: #e6e6e6;
//   color: #636363;
// }
// .vehicle_form .button input {
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.02);
//   padding: 17px;
//   cursor: pointer;
//   border: 1px solid;
//   width: 125px;
//   box-sizing: border-box;
//   color: white;
//   font-family: comfortaa;
// }
//
// .vehicle-form-input input {
//   width: 100%;
//   height: 20px;
//   opacity: 0.8;
// }
// .vehicle-form-input {
//   text-align: left;
//   padding-left: 30px;
//   padding-right: 36px;
//   padding-top: 10px;
// }
// .vehicle-form-input label {
// }
