<% if current_user %>
  <% if current_user.owned_vehicles.count > 0 %>
    <% id = current_user.owned_vehicles.first.id %>
    <a href="/vehicles/<%= id %>/availabilities">Availability</a>
  <% else %>
    <a href="/vehicles/new">Register a Vehicle</a>
  <% end %>
  <a href="/vehicles">Ride</a>
  <a href="/user">Profile</a>
  <%= link_to "Logout", sessions_path, method: :delete %>
<%else%>
  <a href="/vehicles">Ride</a>
  <a href="/user/new#about-container">About Us</a>
  <a href="/user/new#contact-container">Contact Us</a>
  <!-- <a href="/vehicles/new">Perks</a> -->
<%end%>
